.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.post {
  background-color: var(--background-color-2);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
}
.postPage {
  display: flex;
  gap: 1rem;
}

.postBorders {
  background-color: var(--background-color-2);
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
  padding: 2rem;
  position: relative;
}
.go_back_container {
  margin-bottom: 1rem;
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.go_back {
  font-size: 2rem;
  color: var(--white);

  /* margin-bottom: 1rem; */
}

.background_color_2 {
  background-color: var(--background-color-2);
}
.background_color_3 {
  background-color: var(--background-color-3) !important;
}
.background_color_4 {
  background-color: var(--background-color-4);
}
.background_color_5 {
  background-color: var(--background-color-5);
}
.post_img_container {
  position: relative;
  flex-basis: 40%;
  flex-shrink: 0;
  min-height: 300px;
  height: 100%;
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
  overflow: hidden;
  transition-duration: 200ms;
}
.post_img_container .img {
  object-fit: cover;
}
.post_infos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.post_head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post_head .category {
  background-color: var(--white);
  padding: 0.2rem 1rem;
  font-weight: 600;
  border-radius: 3rem;
  border: 1px solid var(--font-color);
}

.post_body h1 {
  margin-bottom: 0.4rem;
}

.post_footer button {
  border: 1px solid var(--font-color);
  border-bottom: 3px solid var(--font-color);
  background-color: var(--white);
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  transition-duration: 300ms;
}

.my {
  margin: 0.7rem 0;
  font-size: 1.6rem;
  color: rgb(2, 2, 2);
  /* font-style: italic; */
  text-decoration: underline;
}

@media screen and (max-width: 920px) {
  .post,
  .postPage {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .postPage {
    max-width: 450px;
    margin: 0 auto;
  }
  /* .post {
    align-items: center;
  } */
  /* .post_img_container {
    max-width: 350px;
    aspect-ratio: 4/3;
  } */
}
