.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.post {
  background-color: var(--background-color-2);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
}

.background_color_2 {
  background-color: var(--background-color-2);
}
.background_color_3 {
  background-color: var(--background-color-3) !important;
}
.background_color_4 {
  background-color: var(--background-color-4);
}
.background_color_5 {
  background-color: var(--background-color-5);
}
.post_img_container {
  position: relative;
  flex-basis: 40%;
  flex-shrink: 0;
  min-height: 300px;
  height: 100%;
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
  overflow: hidden;
  transition-duration: 200ms;
}
.post_img_container .img {
  object-fit: cover;
}
.post_infos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.post_head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post_head .category {
  background-color: var(--white);
  padding: 0.2rem 1rem;
  font-weight: 600;
  border-radius: 3rem;
  border: 1px solid var(--font-color);
}

.post_body h1 {
  margin-bottom: 0.4rem;
}

.post_footer button {
  border: 1px solid var(--font-color);
  border-bottom: 3px solid var(--font-color);
  background-color: var(--white);
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  transition-duration: 300ms;
}

@media screen and (max-width: 920px) {
  .post {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .post {
    max-width: 450px;
    margin: 0 auto;
  }
}
